# Comments!!!

# An Array with no commas!
greatDocumentaries: [
  'earthlings.com'
  'forksoverknives.com'
  'cowspiracy.com'
]

# An Object without braces!
defaultWindowSetup:
  width: 680
  height: 240
  transparent: true
  acceptFirstMouse: true
  enableLargerThanScreen: true
  alwaysOnTop: true
  webSecurity: false
  zoomFactor: 1
  show: true
  resizable: true
  plugins: true
  frame: false
  hasShadow: false
  "web-preferences":
    scrollBounce: true
    "experimental-features": true
    "experimental-canvas-features": true
    "subpixel-font-scaling": true
    "overlay-scrollbars": true

toolbarWindowSetup:
  width: 60
  height: 310
  transparent: true
  acceptFirstMouse: true
  enableLargerThanScreen: true
  alwaysOnTop: true
  webSecurity: false
  zoomFactor: 1
  show: true
  resizable: true
  plugins: true
  frame: false
  hasShadow: false
  "web-preferences":
    "experimental-features": true
    "experimental-canvas-features": true
    "subpixel-font-scaling": true
    "overlay-scrollbars": false

minWindowSetup:
  width: 100
  height: 100
  transparent: true
  acceptFirstMouse: true
  enableLargerThanScreen: true
  alwaysOnTop: true
  webSecurity: false
  zoomFactor: 1
  show: true
#  backgroundColor:false
  resizable: true
  plugins: true
  frame: false
  hasShadow: false
  "web-preferences":
    "experimental-features": true
    "experimental-canvas-features": true
    "subpixel-font-scaling": true
    "overlay-scrollbars": false

browserWindowSetup:
  width: 640
  height: 480
  transparent: true
  acceptFirstMouse: true
  enableLargerThanScreen: true
  alwaysOnTop: true
  webSecurity: false
  zoomFactor: 0.86
  titleBarStyle: "hidden"
  show: true
  resizable: true
  plugins: true
  frame: true
  hasShadow: false
  "web-preferences":
    preload: "/Users/rainerg/ajr/Aspirin/source/inject2"
    "experimental-features": true
    "experimental-canvas-features": true
    "subpixel-font-scaling": true
    "overlay-scrollbars": true

noFrameWindowSetup:
  width: 680
  height: 240
  transparent: true
  acceptFirstMouse: true
  enableLargerThanScreen: true
  alwaysOnTop: true
  webSecurity: false
  zoomFactor: 1

  show: true
  resizable: true
  plugins: true
  frame: false
  hasShadow: false
  "web-preferences":
    "experimental-features": true
    "experimental-canvas-features": true
    "subpixel-font-scaling": true
    "overlay-scrollbars": true
# An Object without braces!

noNodeWindowSetup:
  width: 680
  height: 240
  transparent: true
  acceptFirstMouse: true
  enableLargerThanScreen: true
  alwaysOnTop: false
  webSecurity: false
  zoomFactor: 1
  show: true
  resizable: true
  plugins: true
  frame: true
  hasShadow: false
  "web-preferences":
    preload: "/Users/rainerg/ajr/Aspirin/source/inject2"
    "nodeIntegration": false
    "experimental-features": true
    "experimental-canvas-features": true
    "subpixel-font-scaling": true
    "overlay-scrollbars": true