html, body {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(37, 37, 37, 0.71);
    color: #ddd;
}

.t-header {
    height: 20px;
    background: rgba(28, 71, 82, 0.72);
    text-align: center;
    color: #fff;
}
.tool {
    background: #444444;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    height: 54px;
}
.tool:hover {
    background: #555555;


}

.tool.iconized{
    overflow: hidden;
}

.tool .icon-large {
    font-size: 45px;
    line-height: 0em;
    color: darkorange;
    padding-left: 1px;
}

.extra-msg {
    position: absolute;
    bottom: 0px;
    padding-left: 2px;
    background: #c6152f;
    min-width: 100%;
    line-height: 1em;
    word-break: break-all;
    letter-spacing: -0.1em;
    text-rendering: geometricPrecision;
    font-size: 11px;
}
